<div class="container">
  <div
    class="loader"
    *ngIf="countries.length == 0 || cities.length == 0 || places.length == 0"
  >
    <img id="logo" src="assets/imgs/logo/icon.png" alt="" />
    <h2>Loading</h2>
  </div>

  <div class="countries" *ngIf="countries.length > 0">
    <h2>Countries</h2>
    <div class="list">
      <div class="item" *ngFor="let item of this.countries | slice: 0:3">
        <div class="box">
          <img [src]="item.image" />
          <div class="overlay">
            <div class="content">
              <h2 (click)="redirectTo('locate', item.locatable.id)">
                {{ item.fullName }}
              </h2>
            </div>
            <div class="icons">
              <mat-icon
                class="notFavorite"
                (click)="toAssingFavorite(item.locatable.id)"
                *ngIf="item.isFavorite != true"
                >favorite</mat-icon
              >
              <mat-icon
                class="favorite"
                (click)="toAssingFavorite(item.locatable.id)"
                *ngIf="item.isFavorite == true"
                >favorite</mat-icon
              >
              <mat-icon>share</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="citites" *ngIf="cities.length > 0">
    <h2>Cities</h2>
    <div class="list">
      <div class="item" *ngFor="let item of this.cities | slice: 0:3">
        <div class="box">
          <img [src]="item.image" />
          <div class="overlay">
            <div class="content">
              <h2 (click)="redirectTo('locate', item.locatable.id)">
                {{ item.name }}
              </h2>
            </div>
            <div class="icons">
              <mat-icon
                class="notFavorite"
                (click)="toAssingFavorite(item.locatable.id)"
                *ngIf="item.isFavorite != true"
                >favorite</mat-icon
              >
              <mat-icon
                class="favorite"
                (click)="toAssingFavorite(item.locatable.id)"
                *ngIf="item.isFavorite == true"
                >favorite</mat-icon
              >
              <mat-icon>share</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="places" *ngIf="places.length > 0">
    <h2>Places</h2>
    <div class="list">
      <div class="item" *ngFor="let item of this.places | slice: 0:3">
        <div class="box">
          <img [src]="item.image" />
          <div class="overlay">
            <div class="content">
              <h2 (click)="redirectTo('locate', item.locatable.id)">
                {{ item.name }}
              </h2>
            </div>
            <div class="icons">
              <mat-icon
                class="notFavorite"
                (click)="toAssingFavorite(item.locatable.id)"
                *ngIf="item.isFavorite != true"
                >favorite</mat-icon
              >
              <mat-icon
                class="favorite"
                (click)="toAssingFavorite(item.locatable.id)"
                *ngIf="item.isFavorite == true"
                >favorite</mat-icon
              >
              <mat-icon>share</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
