<div class="appbar">
    <div class="logo">
        logo
    </div>
    <div class="menu">
        <ul>
            <li class="menu" [routerLink]="['home']">
                <p>
                    Home
                </p>
            </li>
            <li class="menu" [routerLink]="['search']">
                <p>
                    Search
                </p>
            </li>
            <li class="menu" [routerLink]="['explore']">
                <p>
                    Explore
                </p>
            </li>
            <li>
                <fa-icon [icon]="faCoffee"></fa-icon>
            </li>
            
        </ul>
    </div>
</div>