@import "src/assets/css/styles.scss";

.profile-container {
  width: 380px;
  height: auto;
  padding: 5%;

  @include center();
  @include title();
  h1 {
    font-size: 2rem;
  }
  flex-direction: column;
}
