
$buttonColor:#003055;

@mixin center(){
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin title{
    h1{
        
        font-family: 'Thasadith', sans-serif;
        font-size:3rem;
        font-weight: bold;
    }
    @media screen and (max-width:900px){
        h1{

            font-size:1.5rem;
        }

    }
}
@mixin button(){
    button{
        background-color: #003055;
        border: 1px solid transparent;
        width: auto;
        padding: 0 10px 0 10px;
        height: 45px;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        font-family: 'Varela Round', sans-serif;
    }
}
@mixin subtitle(){
    h2{
        font-family: 'Varela Round', sans-serif;
        font-size: 2.5rem;
        text-align: center;
    }
}

@mixin paragraph(){
    p{
        font-family: 'Thasadith', sans-serif;
        font-size: 2rem;
        word-break: normal;
        text-align: center;
        
    }
    @media screen and (max-width:900px){
        p{

            font-size:1.8rem;
        }

    }
}