<div class="search">
    <h1>Search</h1>
    <div class="search-box">
        <div class="country">
            <h1>Country</h1>
            <ul>
                <ng-container *ngFor="let country of countries">
                    <li (click)="getCities(country.id)" > <p>{{country.fullName}}</p></li>
                </ng-container>
            </ul>
        </div>
        <div class="city">
            <h1>City</h1>
            <ul>
                <ng-container *ngFor="let city of cities">
                    <li (click)="getPlaces(city.id)"  > <p>{{city.name}}</p></li>
                </ng-container>
            </ul>
            
        </div>
        <div class="place">
            <h1>Place</h1>
            <ul>
                <ng-container *ngFor="let place of places">
                    <li   > <p>{{place.name}}</p></li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div class="tabs">
        <mat-tab-group>
            <mat-tab label="Details"> Destination Details </mat-tab>
            <mat-tab label="Components"> Destination Comments </mat-tab>
            <mat-tab label="Tips"> Destination Tips</mat-tab>
            <mat-tab label="Services"> Destination Services </mat-tab>

          </mat-tab-group>
    </div>
</div>
