<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-FVR10F106N"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-FVR10F106N");
  </script>
  <!-- Hotjar Tracking Code for www.goingto.site -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2485576,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<mat-drawer-container>
  <app-appbar (onLeftSideBarActivator)="leftdrawer.toggle()"></app-appbar>
  <router-outlet></router-outlet>
  <mat-drawer #leftdrawer class="sidenav" mode="over" position="start">
    <app-left-side-nav (closeSideNav)="leftdrawer.close()"> </app-left-side-nav>
  </mat-drawer>

  <div class="content"><span>-</span></div>
</mat-drawer-container>
