<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-FVR10F106N"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-FVR10F106N");
  </script>
  <!-- Hotjar Tracking Code for www.goingto.site -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2485576,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>

<div class="home">
  <div class="main-logo">
    <div class="content">
      <h1>Thanks for letting us be with you on you adventures</h1>
      <h1>Welcome to Going To</h1>
      <button [routerLink]="['/explore']">Explore</button>
    </div>
  </div>
  <div class="info achievements">
    <div class="left-content">
      <h2>New Achievements!</h2>
      <p>
        You can get new badges for your profile to show them to your friends,
        they will be jealous.
      </p>
      <p>
        Just travel around the world with GoingTo and share your experiences
        with us to obtain those fancy badges.
      </p>
      <img src="assets/imgs/badges/review_badges_list.png" />
    </div>
    <div class="rigth-content">
      <img src="assets/imgs/badges/badges_promo.png" />
    </div>
  </div>
  <div class="info">
    <h2>COVID-19</h2>
    <p>
      GoingTo is aware of the current uncertainty that the world is going
      through, so we give you some recommendations
    </p>
    <div class="recommendations">
      <div class="card mat-elevation-z3">
        <img src="https://image.flaticon.com/icons/svg/2950/2950157.svg" />
        <p>Always wear a mask</p>
        <a
          (click)="
            Redirect(
              'https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/when-and-how-to-use-masks'
            )
          "
          >Learn More</a
        >
      </div>
      <div class="card mat-elevation-z3">
        <img src="https://image.flaticon.com/icons/svg/2913/2913564.svg" />
        <p>Constantly wash your hands</p>
        <a
          (click)="
            Redirect(
              'https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/when-and-how-to-use-masks'
            )
          "
          >Learn More</a
        >
      </div>
      <div class="card mat-elevation-z3">
        <img src="https://image.flaticon.com/icons/svg/2913/2913557.svg" />
        <p>Carry a disinfectant with you</p>
        <a
          (click)="
            Redirect(
              'https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/when-and-how-to-use-masks'
            )
          "
          >Learn More</a
        >
      </div>
    </div>
  </div>
  <div class="social">
    <h2>We stand with people</h2>
    <div class="blm">
      <h2>#BlackLivesMatter</h2>
      <p>
        Now more than ever, it’s important that you know how we’re fighting
        discrimination on GoingTo. We would like to know how you feel, if you
        have any discrimination problem contact us.
      </p>
    </div>
    <div class="pride">
      <h2>#Pride</h2>
      <p>Learn how the different countries live the Pride experience</p>
      <div class="images">
        <img
          src="https://www.macleans.ca/wp-content/uploads/2020/06/JUSTIN-TRUDEAU-POLITICIZATION-OF-PRIDE-PARADE-HOARD-JUN29-766x431.jpg"
        />
        <img
          src="https://www.gelestatic.it/thimg/QB1g9by_0m0kjn15ED_pL3nsqzU=/fit-in/960x540/filters:format(webp)/https%3A//www.lastampa.it/image/contentid/policy%3A1.36536415%3A1561987949/843a3932-9a78-11e9-885d-a4a5552cec84_WK1G1GQL8092-krFI-U11203826134565ooB-1024x576%40LaStampa.it-Home%2520Page.jpg%3Ff%3Ddetail_558%26h%3D720%26w%3D1280%26%24p%24f%24h%24w%3D8d129e2"
        />
        <img
          src="https://www.visitphilly.com/wp-content/uploads/2018/02/New_Hope_Celebrates_Pride_flag-crowd-jfusco-for-vp-2200x1237px.jpg"
        />
      </div>
    </div>
  </div>
</div>
