<div class="profile-detail">
  <div class="profile-picture">
    <div class="profile-card mat-elevation-z8">
      <div class="image mat-elevation-z4">
        <img
          src="{{
            userData?.profilePhoto != null
              ? userData?.profilePhoto
              : 'https://media.discordapp.net/attachments/708078392376950807/856752797726801930/112815904-no-image-available-icon-flat-vector-illustration.png'
          }}"
        />
      </div>
      <hr class="solid" />

      <div class="achievements">
        <ul>
          <li>
            <mat-icon style="color: orange">reviews</mat-icon>
            {{ userReviews?.length }} Reviews
          </li>
          <li>
            <mat-icon style="color: rgb(101, 172, 99)">flag</mat-icon
            >{{ userData?.country?.fullName }}
          </li>
          <li>
            <mat-icon style="color: rgb(255, 108, 132)">cake</mat-icon
            >{{ userData?.birthDate | date }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="profile-info">
    <h1>Hi I'm {{ userData?.name }}</h1>
    <h2>My Reviews</h2>
    <div class="reviews">
      <h3>Click to a review for editing</h3>

      <ng-container *ngIf="showReviews">
        <div class="item" *ngFor="let review of userReviews">
          <p>
            <mat-icon (click)="deleteReview(review.id, review.locatable.id)"
              >delete</mat-icon
            >
            <a id="review" (click)="editReview(review, review.locatableId)">
              {{ review.comment }}
              <app-stars [starsquantity]="review.stars"></app-stars>
            </a>
          </p>
          <p id="review-location">
            Review about: <a>{{ review.locatable.name }}</a>
          </p>
        </div>
      </ng-container>
      <ng-container *ngIf="!showReviews">
        <div class="item" *ngFor="let review of userReviews | slice: 0:3">
          <p>
            {{ review.comment }}
            <app-stars [starsquantity]="review.stars"></app-stars>
          </p>
        </div>
      </ng-container>

      <button (click)="showAllReviews()">Show all reviews</button>
    </div>
    <h2>My Achievements</h2>
    <div class="achievements" *ngIf="userAchievements.length > 0">
      <app-single-achievement
        *ngFor="let achievement of userAchievements"
        [achievement]="achievement"
      ></app-single-achievement>
    </div>
    <div class="no-achievements" *ngIf="userAchievements.length <= 0">
      <h3>You have no achievements, try harder!</h3>
      <img src="https://static.poroscience.com/img/poro/poro-sweat.png" />
    </div>
  </div>
</div>
